@font-face {
  font-family: Graphik;
  src: url("../../public/fonts/Graphik-Medium.oft");
  src: url("../../public/fonts/Graphik-Medium.woff"), url("Graphik-Medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Graphik", Helvetica, Arial;
  letter-spacing: 0.08em;
}

a {
  text-decoration: none;
  color: #000000;
}

.category-title,
.size-chart-link,
.bundle-content {
  text-decoration-line: underline;
}

/* main product */
.product-container {
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.product-images {
  flex-basis: 33%;
  margin: 7em 0;

  cursor: url(http://res.cloudinary.com/ssenseweb/image/upload/v1422559505/web/zoom-in-16x16.png),
    pointer;
}

.product-img {
  object-fit: contain;
  width: 600px;
  max-width: 40vw;
}

/* sidebars */
.product-sidebar {
  font-size: 0.5em;
  display: flex;
  width: 300px;
  position: sticky;
  top: 18px;
  justify-content: center;
  margin: 30em 0;
}

.product-content,
.product-form {
  flex-flow: column wrap;
  font-size: 2em;
  width: 300px;
  position: sticky;
  top: 20em;
  height: max-content;
}

.product-content * {
  margin: 20px 0;
}

.product-form {
  line-height: 2em;
  display: flex;
  flex-direction: column;
}

.color-options,
.qty-container,
.size,
.add-cart {
  height: 30px;
  margin: 10px 0;
}

.color-options {
  display: flex;
}

.color-input {
  opacity: 0;
  position: absolute;
}

.add-cart {
  margin: 25px 0;
  border: none;
  background-color: black;
  color: white;
}

.opt-color {
  flex-grow: 1;
  border: 0.5px solid #000000;
  padding-left: 15px;
  height: 100%;
}

.beige,
.black {
  cursor: pointer;
}

.beige {
  background-color: #f9dcba;
}

.black {
  background-color: #000000;
  color: #ffffff;
}

.fa {
  opacity: 0;
}

.color-input:checked ~ .fa {
  opacity: 1;
}

.qty-container {
  display: flex;
  align-content: stretch;
}

.qty-btn:nth-child(1) {
  flex-grow: 1;
  max-width: 15%;
}

.qty-btn:nth-child(2) {
  flex-grow: 2;
  flex-basis: 40%;
}

.qty-btn:nth-child(3) {
  flex-grow: 1;
  max-width: 15%;
}

.qty-btn {
  box-sizing: border-box;
  border: 0.5px solid #000000;
  text-align: center;
}

.add-to,
.subtract {
  cursor: pointer;
}

.size-chart-link {
  font-size: 0.75em;
}

.size {
  background-image: url("../../public/images/icon__arrow.svg");
  background-position-y: 50%;
  background-position-x: calc(100% - 10px);
  background-repeat: no-repeat;
  padding-left: 15px;
  -webkit-appearance: none;
  border: 1px solid #000000;
  border-radius: 0;
}

/* categories */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.category-row {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
  margin: 0 20px;
}

.category {
  margin: 42px 5.5vw;
}

.category:hover {
  text-decoration: none;
}

.category-img {
  max-width: 400px;
  max-height: 400px;
}

/* zoom photos */
.product-zoom-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  display: none;
  width: 100vw;
  position: absolute;
  background-color: #f8f8f8;
  cursor: url(http://res.cloudinary.com/ssenseweb/image/upload/v1422559505/web/zoom-out-16x16.png),
    pointer;
}
.hide-show-zoom, .carousel {
  display: none;
}
.carousel-indicators {
  top: 40em;
}
.carousel-indicators li {
  border: 1px solid #333;
}

.carousel-indicators .active {
  background-color: #333;

}

.carousel img {
  position: relative;
  left: 50%;
  margin-left: -50%;
}

/* responsive */
@media all and (max-width: 1050px) {
  .main {
    order: 1;
  }

  .side-1 {
    order: 2;
  }

  .side-2 {
    order: 3;
  }

  .carousel {
    display: block;
  }

  .product-container {
    display: flex;
    flex-direction: column;
  }

  .product-images {
    display: none;
  }

  .product-sidebar {
    width: 100%;
    position: relative;
    top: 5px;
    margin: 10px 0;
  }

  .product-form,
  .product-content {
    width: 80%;
  }

  .category {
    margin: 20px 5.5vw;
  }
}

@media all and (max-width: 420px) {
  .category-img {
    max-width: 300px;
    max-height: 300px;
  }
}
